$archlinux-blue: #08c !default;
$archlinux-blue-light1: #f6f9fc !default;
$archlinux-blue-light2: #ecf2f5 !default;
$archlinux-blue-bright: #0ae !default;
$archlinux-blue-dark1: #2a2e33 !default;
$archlinux-blue-dark2: #191b1e !default;

$primary: $archlinux-blue-light1 !default;
$link: $archlinux-blue !default;
$link-hover: #363636 !default;

$scheme-main: $primary !default;
$body-background-color: $primary !default;

$footer-background-color: $primary !default;
$footer-padding: 1rem 1.5rem 1rem;

$archlinux-color-green: rgb(0, 128, 0) !default;
$archlinux-color-red: rgb(207, 0, 0) !default;
$archlinux-color-orange: rgb(255, 164, 5) !default;

$archlinux-gray-900: rgba(0, 0, 0, 0.9);
