@import "generic.scss";

$archnavbar-logo: url("archlogo.svg") !default;
$archnavbar-logo-width: 190px !default;
$archnavbar-logo-height: 40px !default;

$archnavbar-font-color: #999 !default;
$archnavbar-font-color-hover: white !default;
$archnavbar-font-size: 14px !default;
$archnavbar-font-family: sans-serif !default;

$archnavbar-background-color: #333 !default;
$archnavbar-border: 5px solid $archlinux-blue !default;

#archnavbar {
	background: $archnavbar-background-color none repeat scroll 0 0 !important;
	border-bottom: $archnavbar-border !important;
	min-height: $archnavbar-logo-height !important;
	padding: 10px 15px !important;
	box-sizing: unset;

	#logo {
		background: rgba(0, 0, 0, 0) $archnavbar-logo no-repeat scroll 0 0 !important;
		background-size: 100% !important;
		height: $archnavbar-logo-height !important;
		width: $archnavbar-logo-width !important;
		margin: 0 !important;
		padding: 0 !important;
		float: left !important;

		& a {
			display: block !important;
			height: $archnavbar-logo-height !important;
			width: $archnavbar-logo-width !important;
			text-indent: -9999px !important;
		}
	}

	& #archnavbarlist li a {
		color: $archnavbar-font-color;
		font-weight: bold;
		text-decoration: none;
	}

	& ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		font-size: 0;
		letter-spacing: 0;

		& li {
			display: inline-block;
			font-size: $archnavbar-font-size;
			font-family: $archnavbar-font-family !important;
			line-height: 1.4;
			letter-spacing: 0;
			padding-top: 14px;
			padding-right: 15px;
			padding-left: 15px;
			margin: 0;

			& a:hover {
				color: $archnavbar-font-color-hover !important;
				text-decoration: underline !important;
			}
		}
	}
}
