/* simple reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
  color-scheme: light dark;

  --bg-color: light-dark(#f6f9fc, #090603);
  --color: light-dark(#222, #ddd);
  --code-inline-bg-color: light-dark(#ffd, #023);
  --code-block-bg-color: light-dark(#dfd, #023);
  --code-block-border-color: light-dark(#bdb, #384756);
  --link-color: light-dark(#07b, #00b6f9);
  --table-border-color: light-dark(#bcd, #384756);
  --table-bg-color: light-dark(#ecf2f5, #242b2e);
  --table-th-bg-color: light-dark(rgb(217, 230, 236), #273136);
  --table-focus-bg-color: light-dark(rgb(228, 237, 241), #273136);
}

/* general styling */
body {
    background: var(--bg-color);
    color: var(--color);
    font: normal 100% sans-serif;
    min-width: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

p:not(:first-child) {
    margin-top: .33em;
}

p:not(:last-child) {
    margin-bottom: 1em;
}

ol,
ul {
    padding-left: 2em;
}

:is(ol, ul):not(:last-child) {
    margin-bottom: 1em;
}

ul {
    list-style: square;
}

code {
    font-family: monospace, monospace;
    background: var(--code-inline-bg-color);
    padding: 0.15em 0.25em;
}

pre {
    font-family: monospace, monospace;
    border: 1px solid var(--code-block-border-color);
    background: var(--code-block-bg-color);
    padding: 0.5em;
    margin: 1em 0;
    overflow: auto;
    white-space: pre-wrap;
}

pre code {
    display: block;
    background: none;
    overflow: auto;
    white-space: pre-wrap;
}

/* forms and input styling */
form p {
    margin: 0.5em 0;
}

form ul.errorlist {
    color: red;
    margin: 0.5em 0;
}

fieldset {
    border: 0;
}

label {
    vertical-align: top;
    display: inline-block;
}

input {
    vertical-align: middle;
}

input[type=text],
input[type=search] {
    padding: 0.10em;
}

input[type=submit] {
    padding: 0.1em 0.6em;
}

select[multiple] {
    padding: 1px 0;
}

select[multiple] option {
    padding: 0 0.5em 0 0.3em;
}

form.direct-search input {
    height: 2em;
}

/* search and listing filter parameters */
.filter-parameters {
    margin-bottom: 1em;
}

.filter-parameters h3 {
    font-size: 1em;
    margin-top: 0;
}

.filter-parameters div.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* compensate for the margin-bottom of the flex-container items */
    margin-bottom: -0.85em;
}

.filter-parameters .flex-container div {
    margin-bottom: 1em;
    font-size: 0.85em;
}

.filter-parameters .flex-container div:not(:last-child) {
    margin-right: 1.65em;
}

.filter-parameters legend {
    display: none;
}

.filter-parameters label {
    display: block;
}

/* scale fonts down to a sane default (16 * .875 = 14px) */
#content {
    font-size: 0.875em;
}

/* Arch style for links */
a {
    text-decoration: none;
}

a:link,
th a:visited {
    color: var(--link-color);
}

a:visited {
    color: #666;
}

a:hover {
    text-decoration: underline;
    color: #666;
}

a:active {
    color: #e90;
}

/* headings */
h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #888;
}

h3 {
    font-size: 1.25em;
    margin-top: .5em;
}

h4 {
    font-size: 1.15em;
    margin-top: 1em;
}

h5 {
    font-size: 1em;
    margin-top: 1em;
}

/* general layout */
main#content {
    display: flex;
    margin: 1em;
    justify-content: center;
    gap: 2em;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
}

#content-left {
    display: block;
    order: 1;
    /* max-width of the content has to be specified here to make it play nice
     * with flex. Setting it to max-content would prevent growing beyond the
     * largest child element. */
    max-width: 80ch;
    /* set min-width to prevent excessive shrinking
     * (and to force shrinking in case there is an element which refuses to
     * shrink, e.g. a very long line in a <pre> tag) */
    min-width: 40ch;
    /* set initial/ideal width to 70% */
    flex-basis: 70%;
    /* shrink factor of 0 effectively means that it will not shrink below 70% of
     * the available space (the sidebar will be shrunk instead) */
    flex-shrink: 0;
    /* increase grow factor to expand into the extra space at the cost of the
     * sidebar */
    flex-grow: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    order: 2;
    /* set min-width to prevent excessive shrinking
     * (and to force shrinking in case there is an element which refuses to
     * shrink, e.g. a very long word) */
    min-width: 20ch;
    /* set max-width to prevent excessive growing */
    max-width: 40ch;
    /* sets flex base width to 30% (complement of the main content's base) */
    flex-basis: 30%;
}

/* responsive layout */
@media only screen and (max-width: 700px) {
    main#content {
        /* place the items in vertical direction */
        flex-direction: column;
        gap: 1em;
    }

    #sidebar {
        max-width: 80ch;
    }
}

/* footer */
footer {
    clear: both;
    margin: 2em 1em 1em;
}

footer p {
    margin: .5em 0;
    text-align: center;
    font-size: 0.8em;
}

.box {
    margin-bottom: 1.5em;
    padding: 0.65em;
    background: var(--table-bg-color);
    border: 1px solid var(--table-border-color);
}

/* package info definition list */
.package-info > dl {
    padding-left: 1em;
}
.package-info dd {
    padding-left: 1em;
    word-break: break-word;
}

/* workaround for multi-column lists in the listing view
 * (width needs to be explicit because the main#content has display:flex) */
article.single-column-content {
    width: 100%;
}

/* multi-column lists (used for listings) */
ul.multi-column,
ol.multi-column {
    column-width: 20em;
    column-gap: 1.5em;
    padding-left: 0.5em;
}
ul.multi-column > li,
ol.multi-column > li {
    /* needed to preserve bullets/numbers in multi-column layout */
    margin-left: 2em;
}

/* styled tables */
table.styled-table {
    background: var(--table-bg-color) none repeat scroll 0 0;
    border: 1px solid var(--table-border-color);
    margin-bottom: 1.5em;
    padding: 0.65em;
    font-size: 1.00em;
    border-collapse: collapse;
}

table.styled-table tr td,
table.styled-table th {
    padding: 0.35em 0.90em;
    text-align: left;
    /*white-space: nowrap;*/
}

table.styled-table th {
    background: var(--table-th-bg-color) none repeat scroll 0 0;
    border-bottom: 1px solid var(--table-border-color);
}

table.styled-table tr:hover {
    background-color: var(--table-focus-bg-color);
}

table.styled-table tr td {
    border-top: 1px dotted var(--table-border-color);
}
